<script src="assets/js/aframe-components.js"></script>
<style>
    .a-enter-vr-button {
        display: none;
    }
</style>
<a-scene embedded>
    <a-camera id="scene-camera" look-controls-enabled="false" wasd-controls-enabled="false"></a-camera>

    <a-box
        point-at-camera
        position="-1 0.5 -3" 
        rotation="0 45 0" 
        color="#4CC3D9"
        animation="property: rotation; to: 0 360 0; loop: true; dur: 5000; easing: linear"

    ></a-box>
    <a-sphere position="0 1.25 -5" radius="1.25" color="#EF2D5E"></a-sphere>
    <a-cylinder position="1 0.75 -3" radius="0.5" height="1.5" color="#FFC65D"></a-cylinder>
</a-scene>