<script type="module">
    import * as THREE from 'https://unpkg.com/three@0.119.1/build/three.module.js'; 
    import { EffectComposer } from 'https://unpkg.com/three@0.119.1/examples/jsm/postprocessing/EffectComposer.js';
    import { RenderPass } from 'https://unpkg.com/three@0.119.1/examples/jsm/postprocessing/RenderPass.js';
    import { DotScreenPass } from 'https://unpkg.com/three@0.119.1/examples/jsm/postprocessing/DotScreenPass.js';
    import { ShaderPass } from 'https://unpkg.com/three@0.119.1/examples/jsm/postprocessing/ShaderPass.js';
    import { OBJLoader } from 'https://unpkg.com/three@0.119.1/examples/jsm/loaders/OBJLoader.js';
    import {OrbitControls} from 'https://threejsfundamentals.org/threejs/resources/threejs/r122/examples/jsm/controls/OrbitControls.js';

    import { DitherShader } from '/assets/js/shaders/DitherShader.js';

    var loader = new THREE.TextureLoader();
    var texture = loader.load('/assets/dither-texture.png');
    texture.minFilter = THREE.NearestFilter;
    texture.magFilter = THREE.NearestFilter;
    texture.wrapS = THREE.RepeatWrapping;
    texture.wrapT = THREE.RepeatWrapping;

    const FOV = 75;
    const Z_DIST = 5;

    var scene;
    var camera;
    var renderer;
    var cube;
    var composer;
    var line;
    var path;
    const canvas = document.querySelector('#canvas');
    var u = 0;



    class CustomSinCurve extends THREE.Curve {
        constructor(scale, u) {
            super();
            this.scale = scale;
            this.u = u;
        }

        getPoint(t) {
            const tx = t * 3 - 1.5;
            const ty = Math.sin(2 * Math.PI * t + this.u);
            const tz = 0;
            return new THREE.Vector3(tx, ty, tz).multiplyScalar(this.scale);
        }
    }

    const obj = new OBJLoader();
    var grass = null;
    // load a resource
    obj.load(
        // resource URL
        'assets/omg.obj',
        // called when resource is loaded
        function ( object ) {
            object.material = new THREE.MeshPhongMaterial( { color: 0xffffff, flatShading: true } );
            object.scale.set(0.1, 0.1, 0.07)
            // object.rotation.x = -3.1415/2;
            object.position.y -= 15;
            object.position.z = -50;
            grass = object;

            console.log('adding');
            console.log(object.position);
            scene.add( object );

        },
    );


    var shader = new THREE.ShaderMaterial(DitherShader);
    function init() {
        
        scene = new THREE.Scene();
        scene.background = new THREE.Color( 0xffffff );
        camera = new THREE.PerspectiveCamera( FOV, window.innerWidth / window.innerHeight, 0.1, 1000 );

        renderer = new THREE.WebGLRenderer({canvas});
        renderer.setSize( canvas.clientWidth, canvas.clientHeight );

        composer = new EffectComposer(renderer);
        composer.setSize(window.innerWidth, window.innerHeight);

        var renderPass = new RenderPass( scene, camera );
        composer.addPass(renderPass);

        shader.uniforms.tDither.value = texture;
        shader.uniforms.resolution.value.set(canvas.clientWidth, canvas.clientHeight, 1);
        shader.needsUpdate = true;
        // var ditherPass = new ShaderPass(DitherShader);
        var ditherPass = new ShaderPass(shader);
        ditherPass.renderToScreen = true;
        composer.addPass(ditherPass);

        // const controls = new OrbitControls(camera, canvas);
        // controls.target.set(0, 5, 0);
        // controls.update();


        initScene();
    }

    function animate() {
        if (grass !== null) {
            grass.rotation.y += 0.008;
            grass.position.y += Math.sin(Date.now()/200)/10;
        }
        shader.uniforms.time.value = Date.now();
        shader.uniformsNeedUpdate = true;
        const canvas = renderer.domElement;
        camera.aspect = canvas.clientWidth / canvas.clientHeight;
        camera.updateProjectionMatrix();
        requestAnimationFrame( animate );

        // cube.rotateY(0.003);
        // cube.rotateX(0.003);
        line.rotation.y -= 0.003;
        line.rotation.x -= 0.003;

        u += 0.01;

        path = new CustomSinCurve(1, u);
        const tubularSegments = 50;  

        const radius = 0.2;  

        const radialSegments = 15;  

        const closed = false;  
        const geo = new THREE.TubeBufferGeometry(path, tubularSegments, radius, radialSegments, closed);
        line.geometry = geo;
        line.needsUpdate = true;

        // cube.rotation.y += 0.01;
        composer.render();
        // renderer.render( scene, camera );
    }

    function initScene() {
        var geometry = new THREE.ConeGeometry(1, 2, 7);
        // var material = material_shh;
        var material = new THREE.MeshPhongMaterial( { color: 0xffffff, flatShading: true } );
        cube = new THREE.Mesh( geometry, material );
        // scene.add(cube);
        // cube.rotation.z = -Math.PI / 2;

        path = new CustomSinCurve(1, u);
        const tubularSegments = 20;  

        const radius = 0.2;  

        const radialSegments = 8;  

        const closed = false;  
        const geo = new THREE.TubeBufferGeometry(path, tubularSegments, radius, radialSegments, closed);
        line = new THREE.Mesh (geo, material);
        // scene.add(line);


        camera.position.z = Z_DIST;

        var tanVal = Math.tan((FOV/2) * (Math.PI/180));

        // camera.position.x = Z_DIST * tanVal;

        const pointLight = new THREE.PointLight(0xffffff,1);
        pointLight.castShadow = true;

        pointLight.position.x = 2;
        pointLight.position.y = 20;
        pointLight.position.z = 2; 

        scene.add(pointLight);


        const ambientLight = new THREE.AmbientLight(0xffffff, .5);
        scene.add(ambientLight)
    }

    init();
    animate();

    var mousePos = new THREE.Vector3();
    var pos = new THREE.Vector3();

    document.addEventListener('mousemove', function(event) {
        var rect = canvas.getBoundingClientRect();
        var xDiff = rect.left + (rect.width / 2);
        var yDiff = rect.top + (rect.height / 2);
        mousePos.set(
                ( (event.clientX + xDiff + 65) / window.innerWidth ) * 2 - 1,
                - ( (event.clientY) / window.innerHeight ) * 2 + 1,
                0 );
        mousePos.unproject(camera);
        mousePos.z = 0;
        mousePos.normalize();

        var didFlip = false;
        if (Math.atan(mousePos.y/mousePos.x) >= 0) {
            mousePos.x *= -1;
            mousePos.y *= -1;
            didFlip = true;
        }

        if (Math.abs(mousePos.y) > .9999) {
            mousePos.x = ((didFlip && mousePos.y < 0) || (!didFlip && mousePos.y > 0)) ? -.0001 : .0001;
            mousePos.y = .9999;
        }

        pos.set(mousePos.x, mousePos.y, 0);
        cube.lookAt(pos);
        cube.rotation.y -= Math.PI/2;
    })

    // window.addEventListener( 'resize', onWindowResize, false );

    // function onWindowResize(){

    //     const canvas = renderer.domElement;
    //     camera.aspect = canvas.innerWidth / canvas.innerHeight;
    //     camera.updateProjectionMatrix();

    //     renderer.setSize( canvas.innerWidth, canvas.innerHeight );
    // }
</script>

<canvas id="canvas" class="Home__canvas"></canvas>
