<header id="header">
    <div class="inner">

        <!-- Logo -->
            <a href={{site.baseurl}} class="logo">
                <span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">{{site.title}}</span>
            </a>

        <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

    </div>
</header>

<!-- Menu -->
<nav id="menu">
    <h2>Menu</h2>
    <ul>
        <li><a href={{site.baseurl}}>Home</a></li>
        <li><a href={{site.baseurl | append: "assets/resume.pdf"}}>Resume</a></li>
    </ul>
    </ul>
    <h4>Projects</h4>
    <ul>
        <li><a href={{site.baseurl | append: "computing.html"}}>Computing</a></li>
        <li><a href={{site.baseurl | append: "design.html"}}>Design</a></li>
        
    </ul>
    <h4>Interactive</h4>
    <ul>
        <li><a href={{site.url | append: "sandbox.html"}}>Sandbox</a></li>
    </ul>
</nav>