{% for category in site.topics %}
    <h2 class="category">{{category}}</h2>
    <section class="tiles">
        {% for page in site.projects %}
            {% if page.category == category %}
                {% assign page_name = page.path | split: "/" %}
                {% assign image_name = "images/" | append: page_name.last %}
                <article >
                    <span class="image tile">
                        <img class="tile-image" src={{image_name | replace: "md", "jpg" }} alt="" />
                    </span>
                    <a href={{page.url}}>
                        <h2>{{page.title}}</h2>
                        <div class="content">
                            <p>{{page.description}}</p>
                        </div>
                    </a>
                </article>
            {% endif %}
        {% endfor %}
    </section>
{% endfor %}


