<link rel="stylesheet" href="/assets/css/project-list.css" />
<div class="ProjectList__root">
    {% assign projects_sorted = site.projects | sort:"date" | reverse %}
    {% for page in projects_sorted %}
        {% if page.included == true %}
            {% assign page_name = page.path | split: "/" %}
            {% assign image_name = "images/" | append: page_name.last %}
            <div class="ProjectList__tile-wrapper">
                <img class="ProjectList__tile" src={{image_name | replace: "md", "png" }} />
                <div class="ProjectList__title">
                    <a class="ProjectList__tile-link" href={{page.url}}>
                        <h2 class="ProjectList__text">{{page.title}}</h2>
                    </a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<div class="ProjectList__project-title" id="project-title">Testing</div>


