---
---

$base-color: #eeeeee;

#main {
  padding-top: 6em;
}

#header {
  padding: 1em 0 1em 0;
  background-color: $base-color;
  border-bottom: 1px solid black;
}

ul.icons {
  margin: 0;
}

.logo {
  margin-right: 1.5em;
}

.tiles article > .image:after {
  background-image: none;

}

.tiles article > .image:before {
  background-color: transparent !important;
}

.tile-image {
  filter: blur(3px);
}

.tiles article > a {
  text-shadow: 2px 2px black;
}

.tile {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

#footer {
  padding: 1em 0 1em 0;
  background-color: $base-color;
  border-top: 1px solid black;
}
body, a {
  color: black;
}


.category {
  padding-top: 2em;
  margin: 0;
}

.tiles {
  margin-top: 0;
}

.title {
  color: #f2849e;
}

#header .logo {
  margin: 0 1.5em 0 0;
}

#header .logo .symbol img {
  display: block;
  width: 3em;
  height: 3em;
}

.round {
  border-radius: 50% !important;
  max-width: 200px;
  max-height: 200px;
}

.inner > p {
  margin: 2em 0 2em 0;
}

.inner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 400px;
  max-width: 1000px;
}

.inner {
  padding: 1em 0 1em 0;
}