---
---

.Home__wrapper {
    bottom: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.Home__about-me {
    display: flex;
    flex-basis: 0;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 15px;
    justify-content: center;
}

.Home__inner {
    bottom: 70px;
    display: flex;
    flex-direction: row;
    left: 0px;
    margin: 0 auto;
    max-width: 68em;
    padding: 50px 2.5em;
    position: absolute;
    right: 0px;
    top: 0;
}

.Home__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 930px) {
    .Home__about-me {
        order: -1;
    }

    .Home__inner {
        flex-direction: column;
    }
}