---
---

.Home__about-me {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    padding: 0 15px;
    justify-content: center;
}

.Home__button {
    text-transform: lowercase;
    margin: 15px 0 4px;
    padding: 6px 12px;
    line-height: 20px;
    border: 1px solid black;
    max-width: 65px;
    text-align: center;
}

.Home__img {
    max-height: 100%;
    max-width: 100%;
}

.Home__inner {
    bottom: 60px;
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.Home__inner--about {
    justify-content: center;
    overflow: hidden;
    padding: 50px 50px 0;
}

.Home__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

.Home__wrapper--about {
    height: 100%;
}

@media (max-width: 930px) {
    .Home__about-me {
        order: -1;
        padding: 0;
    }

    .Home__inner {
        flex-direction: column;
        padding: 20px;
    }

    .Home__inner--about {
        overflow: visible;
    }
}