---
---

.Home__canvas {
    width: 100%;
    height: 100%;
}

.Home__paper-container {
    flex: 1 0 40%;
}

.Home__title {
    font-size: 68px;
}

.Home__about-me {
    display: flex;
    flex: 0 0 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    writing-mode: vertical-lr;
}

.Home__bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}


.Home__button {
    text-transform: lowercase;
    margin: 15px 0 4px;
    padding: 6px 12px;
    line-height: 20px;
    border: 1px solid black;
    max-width: 65px;
    text-align: center;
}

.Home__img {
    max-height: 100%;
    max-width: 100%;
}

.Home__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    position: absolute;
    top: 0;
}

.Home__inner--about {
    justify-content: center;
    overflow: hidden;
    padding: 50px 50px 0;
}

.Home__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
}

.Home__wrapper--about {
    height: 100%;
}

@media (max-width: 930px) {
    .Home__about-me {
        order: -1;
        padding: 0;
    }

    .Home__inner {
        flex-direction: column;
        padding: 20px;
    }

    .Home__inner--about {
        overflow: visible;
    }
}