---
---

$box-width: 1vw;
$box-height: 1.75vw;
$line-red: #ef4136;

$horizColor: #cccccc;
$vertColor: #dddddd;

.cover {
  fill: $vertColor;
}

.hole {
  fill: #231f20;
}

.line {
  fill: none;
  stroke: $line-red;
  stroke-miterlimit: 10;
  stroke-width: 10px; 
}

#path-cover {
  position: absolute;
  top: 0px;
}

.top {
  left: 15vw;
  width: 40vw;
}

.bottom {
  right: 5vw;
  width: 35vw;
  bottom: 0px;
}

.path-wrapper {
  position: absolute;
  z-index: 1;
  #path-top {
    position: absolute;
    width: 100%;
    top: calc(-5.7vw + 35px);
    top: -webkit-calc(-5.7vw + 35px);
    top: -moz-calc(-5.7vw + 35px);
  }

  #path-bottom {
    position: absolute;
    width: 100%;
    bottom: calc(5.7vw - 35px);
    bottom: -webkit-calc(5.7vw - 35px);
    bottom: -moz-calc(5.7vw - 35px);
  }
}

#path-item {
  width: $box-width;
  height: $box-height;
  position: absolute;
  left: - $box-width / 2;
  top: - $box-height / 2;
  h2 {
    font-size: 2vw;
    color: $line-red;
    position: absolute;
    margin: 0px !important;
    left: 50%;
    bottom: -100%;
  }
  h1 {
    font-size: 2vw;
    color: #222222;
    position: absolute;
    margin: 0px !important;
    left: 50%;
    bottom: -100%;
  }
}



html {
  scroll-behavior: smooth;
}

#footer {
  padding: 0;
  h2 {
    display: inline-block;
    padding-right: 1em;
  }
  ul {
    display: inline-block !important;
  }
  .copyright {
    display: inline-block !important;
    width: auto !important;
    margin-top: 0px !important;
  }
}

.inner {
  padding-top: 50px !important;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    max-width: 1000px;
  }
}

#splash {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #fefefe;
  display: grid;
  grid-template-columns: [end-left] 10% [box-left] auto [box-right] 10% [end-right];
  grid-template-rows: [end-top] 10% [box-top] auto [box-bottom] 10% [end-bottom];
  
  #continue {
    grid-column: box-left / box-right;
    grid-row: box-bottom / end-bottom;
    position: relative;
    text-align: center;
    a {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 42px;
      color: #ffffff;
      text-shadow: 2px 2px #888888;
      line-height: 10vh;
    }
    
  }

  .horizontal {
    border-top: 10vh solid transparent;
    border-bottom: 10vh solid transparent;
    width: 0px;
    height: 100%;
  }
  
  .vertical {
    border-left: 10vh solid transparent;
    border-right: 10vh solid transparent;
    width: 100%;
    height: 0px;
  }

  #box-left {
    grid-column: end-left / box-left;
    grid-row: end-top / end-bottom;
    border-left: 10vh solid $horizColor;
  }

  #box-right {
    position: absolute;
    right: 0px;
    grid-column: box-right / end-right;
    grid-row: end-top / end-bottom;
    border-right: 10vh solid $horizColor;
  }

  #box-top {
    grid-column: end-left / end-right;
    grid-row: end-top / box-top;
    border-top: 10vh solid $vertColor;
  }

  #box-bottom {
    grid-column: end-left / end-right;
    grid-row: box-bottom / end-bottom;
    border-bottom: 10vh solid $vertColor;
  }
}

// For tiled section of front page
.tiles {
  margin-top: 0;
  article {
    a {
      text-shadow: 2px 2px black;
    }
    
    img {
      filter: blur(3px);
    }

    .image:after {
      background-image: none;
    }

    .image:before {
      background-color: transparent !important;
    }

    .tile {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
    }
  }
}






.category {
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 2px 2px #222222;
  text-align: center;
}

.title {
  color: #f2849e;
}

#header .logo .symbol img {
  display: block;
  width: 3em;
  height: 3em;
}

.round {
  border-radius: 50% !important;
  max-width: 200px;
  max-height: 200px;
}



