---
---

$base-color: #eeeeee;

.SiteHeader__inner {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0 20px;
}

.SiteHeader__root {
    min-height: 70px;
    padding: 10px 0;
}

.SiteHeader__logo {
    align-items: center;
    border: none;
    display: flex;
    flex-direction: row;
    margin: 0 30px 0 0;
}

.SiteHeader__logo-img {
    display: block;
    height: 50px;
    width: 50px;
}

.SiteHeader__nav-content,  {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.SiteHeader__nav-item {
    margin: 0 10px;
    padding: 0;
}  

.SiteHeader__nav-link {
    text-transform: uppercase;
    margin: 4px 0 4px 0;
    padding: 6px 12px;
    line-height: 40px;
    border: 1px solid black;
}

.SiteHeader__nav-link:hover {
    border-bottom-color: auto;
}

.SiteHeader__title {
    color: #f2849e;
    font-size: 24px;
    font-weight: bold;
}

@media (max-width: 768px) {
    
    .SiteHeader__logo-img {
        padding-left: 0;
    }
}