---
---

$image-widths: 1 2 3 4 6 9 12;

#ctw-text {
    display: none;
}

.Page__root {
    padding-top: 20px;
}

.Page__root p {
    font-size: 15px;
}

// TODO replace this
.Page__root .Page__canvas {
    display: block;
    height: 1000px;
    margin: auto;
    width: 300px;
}

.Page__root .Page__content-inner {
    max-width: 700px;
    margin: 30px auto;
}

.Page__root .Page__image {
    display: block;
    margin: auto;
    max-height: 600px;
    max-width: 100%;
}

.Page__root .Page__image-row {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 600px;
}

.Page__root .Page__left-justify {
    position: relative;
    left: -25%;
    float: left;
}

.Page__root .Page__main-image {
    display: block;
    max-width: 100%;
}

.Page__root .Page__main-image-container {
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}

.Page__root .Page__right-justify {
    position: relative;
    left: 25%;
    float: left;
}

@each $width in $image-widths {
    .Page__root .Page__image-#{$width} {
        width: #{(100 * ($width/12) * 1%)-1%};
    }
}

@media (max-width: 768px) {
    .Page__root .Page__content-inner {
        min-width: 285px;
        padding: 0 20px;
    }
}


