---
layout: default
---

<!-- Main -->
<div class="Page__root">
	<div class="Page__content-inner">
		{% assign page_name = page.path | split: "/" %}
		{% assign image_name = "/images/" | append: page_name.last %}	
		{% if page.noheader != true %}	
			<div class="Page__main-image-container">
				<img class="Page__main-image" src={{image_name | replace: ".md", "-large.png" }} alt="" />
			</div>
		{% endif %}
		<h1>{{page.title}}</h1>
		{% if page.semester %}
			<h4>{{page.semester}}</h4>
		{% endif %}
		{{content}}
	</div>
</div>
