<html>
<head>
  <title>{{page.title}}</title>
    <link rel="stylesheet" href="assets/css/sandbox.css">
  </head>
  <body>
    <div class="title">
      <h1><i>INTERACT</i></h1>
    </div>
    <div class="container">
      <div class="wrapper-1">
        <div class="string"></div>
        <div class="circle-1">X</div>
      </div>
      <div class="wrapper-2">
        <div class="string"></div>
        <div class="circle-2">A</div>
      </div>
      <div class="wrapper-3">
        <div class="string"></div>
        <div class="circle-3">O</div>
      </div>
      <div class="wrapper-4">
        <div class="string"></div>
        <div class="circle-4">P</div>
      </div>
      <div class="wrapper-5">
        <div class="string"></div>
        <div class="circle-5">M</div>
      </div>
      <div class="wrapper-6">
        <div class="string"></div>
        <div class="circle-6">F</div>
      </div>
      <div class="wrapper-7">
        <div class="string"></div>
        <div class="circle-7">W</div>
      </div>
      <div class="wrapper-8">
        <div class="string"></div>
        <div class="circle-8">S</div>
      </div>
      <div class="wrapper-9">
        <div class="string"></div>
        <div class="circle-9">O</div>
      </div>
      <div class="wrapper-10">
        <div class="string"></div>
        <div class="circle-10">I</div>
      </div>
      <div class="wrapper-11">
        <div class="string"></div>
        <div class="circle-11">S</div>
      </div>
      <div class="wrapper-12">
        <div class="string"></div>
        <div class="circle-12">L</div>
      </div>
      <div class="wrapper-13">
        <div class="string"></div>
        <div class="circle-13">J</div>
      </div>
      <div class="wrapper-14">
        <div class="string"></div>
        <div class="circle-14">R</div>
      </div>
      <div class="wrapper-15">
        <div class="string"></div>
        <div class="circle-15">T</div>
      </div>

      <div class="wrapper-14">
        <div class="string"></div>
        <div class="circle-14">B</div>
      </div>
      <div class="wrapper-13">
        <div class="string"></div>
        <div class="circle-13">X</div>
      </div>
      <div class="wrapper-12">
        <div class="string"></div>
        <div class="circle-12">L</div>
      </div>
      <div class="wrapper-11">
        <div class="string"></div>
        <div class="circle-11">U</div>
      </div>
      <div class="wrapper-10">
        <div class="string"></div>
        <div class="circle-10">R</div>
      </div>
      <div class="wrapper-9">
        <div class="string"></div>
        <div class="circle-9">D</div>
      </div>
      <div class="wrapper-8">
        <div class="string"></div>
        <div class="circle-8">P</div>
      </div>
      <div class="wrapper-7">
        <div class="string"></div>
        <div class="circle-7">Z</div>
      </div>
      <div class="wrapper-6">
        <div class="string"></div>
        <div class="circle-6">Y</div>
      </div>
      <div class="wrapper-5">
        <div class="string"></div>
        <div class="circle-5">S</div>
      </div>
      <div class="wrapper-4">
        <div class="string"></div>
        <div class="circle-4">Q</div>
      </div>
      <div class="wrapper-3">
        <div class="string"></div>
        <div class="circle-3">N</div>
      </div>
      <div class="wrapper-2">
        <div class="string"></div>
        <div class="circle-2">H</div>
      </div>
      <div class="wrapper-1">
        <div class="string"></div>
        <div class="circle-1">
          A
        </div>
      </div>
    </div>
    <div class="bottom-text">
      <a href="/">HOME</a>
    </div>


</body></html>
